$Montserrat: (
    "Regular": 400,
    "Bold": 700
);

@each $name, $weight in $Montserrat {
    @font-face {
        font-family: "Montserrat";
        src: url("src/assets/fonts/Montserrat-#{$name}.ttf") format('truetype');
        font-weight: $weight;
    }
}

$Lato: (
    "Bold": 700,
    "Regular": 400,
    "Light": 300
);

@each $name, $weight in $Lato {
    @font-face {
        font-family: "Lato";
        src: url("src/assets/fonts/Lato-#{$name}.ttf") format('truetype');
        font-weight: $weight;
    }
}
