:root {
    --content-bg-color: #b6b7fd;
    --text-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: 400;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    // border: .1px solid red;
}

// body{
//     // background-color:var(--content-bg-color);
// }
.title {
    color: var(--text-color);
    font-family: "Lato";
    font-weight: 700;
    padding-top: 0px;
    padding: 10px 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: 0;
    outline: none;
}

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0000008a;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
        width: 100px;
        height: 100px;
        border: 10px solid transparent;
        border-bottom-color: #149A03;
        border-radius: 50%;
        animation: infinite .5s linear loader;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}